* {
  margin: 0;
}
/* Header Styling */
.main-header {
  background-color: #ffffff; 
  color: #fff;
  padding: 15px 0;
  box-shadow: 0px 1px 15px 0px rgba(150, 150, 150, 0.25);

}

.main-header .container {
  max-width: 1500px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: rgba(10, 99, 155, 1);
  letter-spacing: 1px;
  text-decoration: none !important;
}

.logo span {
  color: rgba(242, 113, 0, 1);
}

.search-box {
  display: flex;
  align-items: center;
}


.search-box input[type="text"] {
  color: rgba(107, 107, 107, 1); 
  background-color: transparent; /* Optional: keep background transparent */
  border: 1px solid rgba(242, 113, 0, 1); /* Optional: white border */
  padding: 8px 10px;
}

.search-box input::placeholder {
  color: rgba(107, 107, 107, 1); 
  opacity: 1;    /* Ensures it's fully visible in all browsers */
}

.search-box button {
  color: white; 
  background-color: transparent; /* Optional */
  border: 1px solid white;
  padding: 8px 12px;
  cursor: pointer;
}
.search-box input {
  padding: 8px 12px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
  font-size: 1rem;
  background-color: rgba(242, 113, 0, 1);
}

.search-box button {
  background-color: rgba(10, 99, 155, 1);
  color: white;
  border: solid 1px rgba(10, 99, 155, 1);
  padding: 8px 12px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.fa-classic, .fa-regular, .fa-solid, .far, .fas {
    font-family: sans-serif !important;
}
.search-box button:hover {
  background-color: #00b39800;
  color: rgba(10, 99, 155, 1);
}
.fa-magnifying-glass:before, .fa-search:before {
    content: none !important;
}


.footer {
  background-color: #000000;
  margin-top: 40px;
  box-shadow: 0px 1px 15px 0px rgba(150, 150, 150, 0.25);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1500px;
  margin: auto;
  padding: 30px 20px 0px 20px;
}

.footer-left,
.footer-links,
.footer-social {
  flex: 1 1 250px;
  margin: 15px 0;
}

.footer h2 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  letter-spacing: 1px;
  padding-bottom: 20px;
}
.footer h3 {
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  font-size: 22px;
  padding-bottom: 20px;
}
.footer h2 span {
  color: rgba(242, 113, 0, 1);
}
.footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 8px;
  font-size: 18px;
  letter-spacing: 1px;
}

.footer p {
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}
.footer a:hover {
  color: rgba(242, 113, 0, 1);
}

.footer-social a {
  margin-right: 10px;
  font-size: 1.2rem;
}

.footer-links ul {
  list-style: none; 
  padding: 0;        
  margin: 0;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #ffffff;
  padding: 10px 0px 15px 0px;
  font-size: 18px;
}

.hero-section {
  background: linear-gradient(to right, #0f172a, #00c9a7);
  color: white;
  padding: 100px 20px;
  text-align: center;
  position: relative;
  z-index: 1;
  background-image: url('images/hero.jpg');
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
}

.hero-content {
  max-width: 1500px;
  margin: auto;
}

.hero-section h1 {
  font-size: 48px;
  margin-bottom: 50px;
  font-weight: bold;
  letter-spacing: 1px;
}

.hero-section h1 span {
  color: rgba(242, 113, 0, 1);
}

.hero-section p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.hero-btn {
  display: inline-block;
  padding: 12px 30px;
 background: linear-gradient(178.66deg, #F20000 13.35%, #F2A020 144.73%);
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  letter-spacing: 1px;
}

.hero-btn:hover {
  background: linear-gradient(178.66deg, rgb(242 70 131) 13.35%, #000000 144.73%);
  color: rgb(255, 255, 255);
}

/* Courses Section */
.courses-section {
  padding: 50px 20px;
  background-color: #f8f9fa;
  text-align: center;
}

.section-title {
  font-size: 36px;
  margin-bottom: 50px;
  color: #0f172a;
  letter-spacing: 1px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  max-width: 1500px;
  margin: auto;
}

.course-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.course-card:hover {
  transform: translateY(-8px);
}

.course-card h2 {
  font-size: 24px;
  color: #0f172a;
  margin-bottom: 20px;
}

.course-card img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 20px;
}

.course-btn {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(178.66deg, #F20000 13.35%, #F2A020 144.73%);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.3s;
}

.course-btn:hover {
  background: linear-gradient(178.66deg, rgba(10, 99, 155, 1) 13.35%, rgba(10, 99, 155, 1) 144.73%);
  color: rgb(255, 255, 255);
}

#loadMoreBtn {
  padding: 10px 25px;
  font-size: 16px;
  background: linear-gradient(178.66deg, #F20000 13.35%, #F2A020 144.73%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#loadMoreBtn:hover {
  background: linear-gradient(178.66deg, rgba(10, 99, 155, 1) 13.35%, rgba(10, 99, 155, 1) 144.73%);
}
.load-more-container {
  margin-top: 40px;
}

.hidden {
  display: none;
}

/* Python page */
.python-banner {
  background-image: url('images/python_ban1.jpg'); 
  background-size: cover;
  background-position: center;
  height: 75vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .banner-overlay {
  background-color: rgba(0, 0, 0, 0.6); 
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 40px;
} */

.banner-overlay h1 {
  color: #fff;
  font-size: 4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.python-intro {
  padding: 20px 20px 40px 20px;
  background-color: #f9f9f9;
  text-align: start;
}

.python-intro h1 {
  font-family: Brygada 1918;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: rgba(71, 71, 71, 1);
}

.python-intro li{
  font-family: serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 2%;
  text-align: justify;
  color: rgba(107, 107, 107, 1);
}

.python-intro p{
  font-family: serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 2%;
  text-align: justify;
  color: rgba(107, 107, 107, 1);
}

.python-intro h2{
  color: rgba(71, 71, 71, 1);
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 1px;
}
.Code-box pre{
background-color: black;
color: white;
padding: 10px;
border-radius: 5px;
line-height: 2;
font-size: 16px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.nav-btn {
  padding: 12px 24px;
  background: linear-gradient(178.66deg, #F20000 13.35%, #F2A020 144.73%);
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.nav-btn:hover {
  background: linear-gradient(178.66deg, rgba(10, 99, 155, 1) 13.35%, rgba(10, 99, 155, 1) 144.73%);
}

table {
      width: 100%;
      border-collapse: collapse;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    th, td {
      padding: 12px 15px;
      border: 1px solid #ddd;
      text-align: center;
      color: rgba(107, 107, 107, 1);
    }

    th {
      background-color: rgba(10, 99, 155, 1);
      color: white;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    h3{
      font-size: 20px;
      letter-spacing: 1px;
      color: rgba(242, 113, 0, 1);
    }
  #pythonPagesDropdown {
    font-family: serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 160%;
    text-align: justify;
    color: rgba(107, 107, 107, 1);
    padding: 8px 10px 8px 10px;
    letter-spacing: .5px;
  }

@media (max-width: 768px) {
  .main-header .container {
    flex-direction: column;
    gap: 10px;
}
.logo {
    font-size: 26px;
}
.footer-container {
    padding: 0px 10px 0px 10px;
}
.footer-left, .footer-links, .footer-social {
    flex: none;
    margin: 0;
}

.footer p {
    font-size: 16px;
    line-height: 25px;
}

.footer a{
  font-size: 16px;
  letter-spacing: 1px;
}

.footer h3 {
    font-size: 22px;
    letter-spacing: 1.5px;
}
.footer h2 {
    font-size: 26px;
}

.hero-section h1 {
    font-size: 23px;
    letter-spacing: 1px;
  }

  .hero-section p {
    font-size: 20px;
  }
  .courses-section {
    padding: 20px 10px 20px 10px;
  }
  .course-card h2{
    font-size: 20px;
  }
  .section-title {
    font-size: 25px;
  }
  .python-banner {
    height: 20vh;
  }
  
.banner-overlay h1{
  font-size: 25px;
  
}
.banner-overlay {
  padding: 0px 10px 0px 10px;
}
.python-intro{
  padding: 10px 10px 30px 10px;
}
.python-intro h1{
  font-size: 30px;
}
.python-intro h2{
  font-size: 24px;
}
.python-intro p{
  font-size: 16px;
}
.python-intro li {
  font-size: 16px;
}
.hero-section{
  padding: 40px 0px 40px 0px;
}

.Code-box {
    background-color: #000;
    color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow-x: auto; /* Enables horizontal scroll */
  }

  .Code-box pre {
    margin: 0;
  }
  .table-python {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* for smooth scrolling on iOS */
  }
  .table-python table {
  width: 100%;
  min-width: 600px; /* You can adjust this width */
  border-collapse: collapse;
}
.table-python th,
.table-python td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: center;
}
.table-python table {
    min-width: 800px;
  }
  #different{
    font-size: 23px;
    letter-spacing: 1px;
  }
  #key-points {
    font-size: 21px;
    letter-spacing: 1px;
  }
}